/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f6caca;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container Styles */
.todo-container {
  background-color: rgb(182, 106, 149);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

/* Heading Styles */
h1 {
  text-align: center;
  color: #333;
}

/* Input Styles */
input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #c62a2a;
  border-radius: 4px;
}

/* Button Styles */
button {
  background-color: #28a745;
  color: rgb(9, 7, 7);
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #3a8b97;
}

button:disabled {
  background-color: #f52222;
  cursor: not-allowed;
}

/* List Styles */
ol {
  list-style:circle;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #be5656;
}

li:last-child {
  border-bottom: none;
}


